@using System.Web.Optimization
@using WebSite.Helpers
@model WebSite.ViewModels.Folders.FolderViewModel

@{
    ViewBag.Title = "Index";
}

<div id="mainContainer">
    @if (User.IsInRole("Administrator"))
    {
        Html.RenderPartial("AdministratorTools", Model.Path);
    }

    <div id="validationResult"></div>

    <div class="row">
        <div class="col-md-1"></div>
        @Html.PathLink(Model.Path)
    </div>

    <div id="foldersResults">
        @{Html.RenderPartial("Folders", Model);}
    </div>
</div>
<p>
    @Html.ActionLink("Home", "Index")
</p>

@section scripts
{
    @Scripts.Render("~/bundles/folders")
}
